RewriteEngine On
RewriteBase /pleija/
#
RewriteCond %{REQUEST_URI} !^/?w/rest\.php
#RewriteCond %{REQUEST_URI} !^/wiki/
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
#RewriteRule ^(.*)$ /index.php [L]
#
## Redirect / to Main Page
RewriteRule ^/*$ /pleija/w/index.php [L,QSA]

RewriteRule ^/?wiki/*(.*)$ /pleija/w/index.php [L,QSA]
